@using MauiBlazorTodoApp.Data
<div class="navbar navbar-dark bg-dark">
	<a class="navbar-brand m-2" href="">MauiBlazorTodoApp</a>
	<button title="Navigation menu" @onclick="ToggleModal" class="btn btn-primary m-2">
		+
	</button>
	<TodoCreateModal IsOpen="@openModal" OnClose="@ToggleModal" OnAdd="@OnAddTodo"/>
</div>



@code {
	private bool openModal = false;
	private void OnAddTodo()
	{
		openModal = false;
	}

	private void ToggleModal ()
	{
		openModal = !openModal;
	}
}
